/* Alap linkek */
a {
  color: #7a2b17;
  text-decoration: underline;
}

a:hover {
  color: #a8371f;
}

a.anchorjs-link::after {
  font-family: 'Material Icons';
  content: '🔗';
  font-size: 0.5em;
  vertical-align: middle;
  margin-left: 0.25em;
  user-select: none;
  text-decoration: none !important;
}

/* Mobilbarát minimális igazítás */
@media screen and (max-width: 600px) {
  body {
    font-size: 16px;
    padding: 1rem;
  }

  .box {
    background-color: e9ecda !important;
    margin: 1rem 0;
    padding: 1rem;
    color: #3E3838 !important;
  }
}
