<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <title>{{ site.title }}</title>
        <link rel="stylesheet" href="{{ site.baseurl }}/style.css">
    </head>
    <body>
        <header role="banner" id="banner">
            <h1> <a href="{{ site.baseurl }}">{{ site.title }}</a></h1>
            <nav class="dropdown-navbar">
  <ul>
    <li><a href="/O5e/Characterizations/Step-by-Step Characters">Creating a character</a></li>
    <li>
      <a href="#">Races</a>
      <ul>
        <li><a href="/O5e/Races/Elf">Elf</a></li>
        <li><a href="/O5e/Races/Dwarf">Dwarf</a></li>
        <li><a href="/O5e/Races/Halfling">Halfling</a></li>
        <li><a href="/O5e/Races/Human">Human</a></li>
        <li><a href="/O5e/Races/Gnome">Gnome</a></li>
        <li><a href="/O5e/Races/Half-Elf">Half-Elf</a></li>
        <li><a href="/O5e/Races/Half-Orc">Half-Orc</a></li>
      </ul>
    </li>
    <li>
      <a href="#">Classes</a>
      <ul>
        <li><a href="/O5e/Classes/Classes#Assassin">Assassin</a></li>  <!-- így kéne kinéznie majd mindegyiknek, ha egy md-ba teszem fel az összes classt -->
        <li><a href="/O5e/Classes/Barbarian">Barbarian</a></li>
        <li><a href="/O5e/Classes/Cleric">Cleric</a></li>
        <li><a href="/O5e/Classes/Druid">Druid</a></li>
        <li><a href="/O5e/Classes/Fighter">Fighter</a></li>
        <li><a href="/O5e/Classes/Illusionist">Illusionist</a></li>
        <li><a href="/O5e/Classes/Magic User">Magic User</a></li>  <!-- itt a szóköz lehet, hogy nem jó a md nevében -->
        <li><a href="/O5e/Classes/Paladin">Paladin</a></li>
        <li><a href="/O5e/Classes/Half-Elf">Ranger</a></li>
        <li><a href="/O5e/Classes/Sorcerer">Sorcerer</a></li>
        <li><a href="/O5e/Classes/Sorcerer">Thief</a></li>
      </ul>
    </li>
    <li><a href="/O5e/Characterizations/Alignment">Alignment</a></li>
    <li>
      <a href="#">Equipment</a>
      <ul>
        <li><a href="/O5e/Equipment/Armor">Armor</a></li>
        <li><a href="/O5e/Equipment/Coinage">Coinage</a></li>
        <li><a href="/O5e/Equipment/Expemses">Expemses</a></li>
        <li><a href="/O5e/Equipment/Gear">Gear</a></li>
        <li><a href="/O5e/Equipment/Selling Treasure">Selling Treasure</a></li>
        <li><a href="/O5e/Equipment/Tools">Tools</a></li>
        <li><a href="/O5e/Equipment/Trade Goods">Trade Goods</a></li>
        <li><a href="/O5e/Equipment/Transportation">Transportation</a></li>
        <li><a href="/O5e/Equipment/Weapons">Weapons</a></li>
      </ul>
    </li>
    <li><a href="/O5e/Characterizations/Beyond 1st Level">Gaining Levels</a></li>
    <li><a href="/O5e/Characterizations/Multiclassing">Multiclassing</a></li>
    <li>
      <a href="#">Gameplay</a>
      <ul>
        <li><a href="/O5e/Gameplay/Abilities">Abilities</a></li>
        <li><a href="/O5e/Gameplay/Adventuring">Adventuring</a></li>
        <li><a href="/O5e/Gameplay/Combat">Combat</a></li>
      </ul>
    </li>
    <li>
      <a href="#">Spell Lists</a>
      <ul>
        <li><a href="/O5e/Spells/cleric-spells">Cleric</a></li>
        <li><a href="/O5e/Spells/druid-spells">Druid</a></li>
        <li><a href="/O5e/Spells/illusionist-spells">Illusionist</a></li>
        <li><a href="/O5e/Spells/magic-user-spells">Magic User</a></li>
      </ul>
    </li>    
  </ul>
</nav>
        </header>
        <main role="main" id="main" class="phb">
        {{ content }}
        </main>
        <footer role="contentinfo" id="contentinfo">
        </footer>
    </body>
</html>
